/*   
display flex: las cajas se alinean en una fila. Si cambio el eje en las columnas.
flex-direction:definir la direccion del eje para marcar el flujo de las cajas.
valores: row: filas. valor predeterminado.
        columns: columnas.
justify-content:alinear las cajas en eje principal.
Valores: center,flex-start,flex-end,space-beetwen(espacio entre cajas) space-around(espacio entre cajas y bordes) space-evenly(espacio igual entre bordes y cajas)
align-items: alinea los items en el eje cruzado al principal.
valores: strecht(default) estira los items para llenar el eje cruzado.
flex-start: arriba por ej si el eje cruzado es vertical.
flex-end: abajo si el eje principal es el vertical.
center: centrado.
baseline: alinea el texto en la line de base. (para notarlo debemos cambiar la font size de las fuentes de las cajas.
flex-wrap: crea una nueva linea si la suma del ancho de las cajas super al ancho del contenedor.
valores: wrap,wrap-reverse,nowrap(viene por defecto).
align-content:ordena las cajas en el eje cruzado al eje principal.
Requisitos para que funcione:
1.flex-wrap este activo.
2.Tiene que ser en casos de multifila o multicolumnas.

*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: sans-serif;
  padding: 20px;
}
.principal{
  background: #333;
  color:white;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}
.contenedor{
display: flex;
flex-wrap: wrap;
gap:0.8em;
padding: 1.5em;
background: #e0f7fa;
height: auto;

}
/*
.contenedor div{
background-color: #7cb342;
color: white;
text-align: center;
font-weight: bold;
  flex: 0 1 150px;}*/

.caja1{flex:1;
background-color: #c5cae9;}
.caja2{flex:2;
background-color: #9fa8da;}
.caja3{
  flex: 1;
  background-color: #7986cb;
}
.caja4{
  flex: 3;
  background-color: #5c6bc0;
}
.caja5{
  flex: 1;
  background-color: #333;
  color:white;
}
.contenedor div{
padding: 1.4em;
text-align: center;
min-width: 150px;



}
@media(max-width:600px){
.contenedor .caja4{
order:-1;
background-color: #ec407a;


}
.contenedor .caja5{
display:none;

}





}

/* Responsive permite que el diseño original mantenga su accesibilidad y su navegabilidad en cuelquier dispositivo en donde lo veas. Debe comenzar al final de la ultima etiqueta de nuestro diseño. Y la sintasis es @media (valor del disposito){
caja {propiedad:valor;}
}





@media(min-width:601px) and (max-width:1020px){

.contenedor{
  height: auto;
}
.contenedor div{
flex: 1 1 45%;
font-size: 1.4em;
transform: scale(1.05);

}

}

@media(max-width:600px)
{
.contenedor{ 
  flex-direction: column;
  background-color: #e57373;
}
.contenedor div{
width: 100%;
color: black;
font-size: 1.2em;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
}

Responsive comienzo con una media-query @media(orden del tamaño)
@media (max-width:600px){
.contenedor{ background: #f2d06b;}
.contenedor div{
flex:1 1 100%;
background: #02e7ef;
color: black;
font-size: 1.2em;
transform:scale(1.1);



}


}*/