/*   
display flex: las cajas se alinean en una fila. Si cambio el eje en las columnas.
flex-direction:definir la direccion del eje para marcar el flujo de las cajas.
valores: row: filas. valor predeterminado.
        columns: columnas.
justify-content:alinear las cajas en eje principal.
Valores: center,flex-start,flex-end,space-beetwen(espacio entre cajas) space-around(espacio entre cajas y bordes) space-evenly(espacio igual entre bordes y cajas)
align-items: alinea los items en el eje cruzado al principal.
valores: strecht(default) estira los items para llenar el eje cruzado.
flex-start: arriba por ej si el eje cruzado es vertical.
flex-end: abajo si el eje principal es el vertical.
center: centrado.
baseline: alinea el texto en la line de base. (para notarlo debemos cambiar la font size de las fuentes de las cajas.
flex-wrap: crea una nueva linea si la suma del ancho de las cajas super al ancho del contenedor.
valores: wrap,wrap-reverse,nowrap(viene por defecto).
align-content:ordena las cajas en el eje cruzado al eje principal.
Requisitos para que funcione:
1.flex-wrap este activo.
2.Tiene que ser en casos de multifila o multicolumnas.

*/




