/*vamos a arrancar la primera linea de css con el indicador universal.
etiqueta:llama a la etiqueta directamente por el nombre.
clase: HTML USO class(atributo) . CSSS USO  .(nombre de la clase).
utilizo el background-color: color de fondo
background:fondo de cualquier caja.
font-family:cambia familia de la fuente.
color:cambia el color de cualquier estructura.
font-size:cambio tamano a la fuente.
font-weight:ancho de la fuente.
font-style:cambia el estilo de la fuente.*
border: aplica bordes a las cajas. Propiedades:
border-width: ancho del borde.valores px,em,hv
border-style: estilo del borde. Valores:solid,double,dotted,dashed.
border-color:color del borde.
border-radius: redondea los bordes de la caja. Valores: px,%,etc.
width: ancho de cualquier elementos o caja.
height:alto del elemento o caja. valores pixeles,%,em,hv.
max-width:ancho maximo que puedo darle a una caja.
text-align: alinear los elementos en el eje horizontal. valores: left center right.
text-decoration: es darle lineas al texto. valores: underline/none/
line trought/overline.
text-transform: transformar minuscula a mayuscula y mayuscula a minuscula de la fuente. valores:uppercase/lowercase.
fuente externa: usamos google fonts.Copiamos codigo Get embed code.
box-sizing:contiene el tamaño de las cajas al tomar la suma del padding o del margin. Dos valores content-box y border
-box.
Unidades de Medida:
rem:
*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
padding: 0;/*Reseteo la configuracion de los navegadores*/
margin: 0;/*Reseteo la configuracion de los navegadores*/

font-family:"Roboto","PT Serif";
box-sizing:border-box ;/* contiene el ancho(width) y alto (height) de la caja adhiriendo el margin y el padding.*/

}

body {
color:#333333;
padding: 20px;
background-color: #f4f0eb;


}


header {
display: flex;
justify-content: space-between;

  background-color:#e8e8f2 ;
  width: 100%;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 10px;
  
  }


.titulo-header {

text-align: center;
text-decoration: underline;
}
.logo-empresa{
  width: 340px;
  height: auto;
  border-radius: 0.8em;
}

main{
display: flex;
justify-content: space-around;
align-items: flex-start;
flex-wrap: wrap;
padding:1.4rem;
gap: 1em;
  border: 2px solid  rgb(139, 139, 139) ;
  margin: 0 auto;
  width: 95%;
  margin-bottom: 10px;

}

main section,
main article,
main nav{
flex:1 1 800px;
border: 1px solid #ccc ;



}
.menu1{





}

nav {

  border: 2px solid rgb(226, 209, 209);
  padding:20px ;
  margin:10px 0;
}

.menu1{
display: flex;
justify-content: space-between;
list-style-type: none;
padding: 0;






}

 
.menu1 li{
background-color: #ccc;

border-radius: 10px;




 }

nav .menu1 li a{

text-decoration: none;
display: block;
padding: 10px;

}





label {
font-family:Arial, Helvetica, sans-serif ;
color:cornflowerblue;
font-weight:lighter;
}

input{

  color:rgb(59, 2, 2);
  width: 70%;
}
 
legend {
font-size: 45px;
font-style: bold;

}


.info-ipfl{

  border:5px solid #023c02;
  
  
  
  }
  .info-ipfl p{
  font-family:"Roboto" ;
  
  }
  .galeria{
    border: 5px dashed brown;
    text-align: center;
  }

footer{
width: 90%;

}

.formulario {
border-color: aquamarine;
border-width: 4px;
border-style: solid;
border-radius:8px ;
width: 1200px;



}

.form-columns .fila{
display: flex;

align-items: center;
gap: 1.5em;
}
.fila label,
.fila input{
flex:1 1 48%;

}

.form-file{
  margin-top: 10px;
  margin-bottom: 1.5em;

  display: flex;
  justify-content: flex-start;
}

.form-comments textarea{
  display: block;
width:90%;
margin:10px auto;

}
.form-comments label{
display: flex;
justify-content: center;
}
.form-buttons{
display: flex;
justify-content: center;


}
.boton{
width: 150px;
padding: 5px;
border-radius: 10px;
font-weight: bold;
margin:8px 10px ;

}

.boton:hover{
color:beige;
background-color:#150909;

}